body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#editor {
  position: absolute;
  top: 170px;
  left: 60px;
  width: 90%;
  height: 70%;
}